
*{
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    color: #333;
}

button{
    border: none;
    background-color: transparent;
    overflow: visible;
}

#header{
    position: relative;
    width: 1050px;
    height: 100px;
    margin: 0px auto;
    letter-spacing: -0.3px;
    
}

.front{
    display: flex;
    position: absolute;
    right: 0px;
    top: 9px;
    z-index: 20;
    -webkit-box-align: center;
    font-size: 12px;
    align-items: center;
}

.line{
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}

.a1{
    display: block;
    color: rgb(95, 0, 128);
    cursor: pointer;
}

.a2{
    display: block;
    cursor: pointer;
}

.a3{
    display: block;
    cursor: pointer;
}

.a3 .scroll-btn{
    width: 8px;
    height: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
    display: inline-block;
    background-size: cover;
}

#header_wrap{
    display: flex;
    padding-top: 36px;
    height: 100px;
    width: 1050px;
    justify-content: space-between;
}

.logo{
    flex: 0 0 82px;
}

.header_content{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    height: 63px;
}

.marketcurly{
    margin-left: -125px;
    font-size: 18px;
    flex-shrink: 0;
    line-height: 1.33;
    letter-spacing: normal;
    cursor: pointer;
    color: rgb(181, 181, 181);
}

.marketcurly.active{
    margin-left: 20px;
    font-size: 18px;
    flex-shrink: 0;
    line-height: 1.33;
    letter-spacing: normal;
    cursor: pointer;
    font-weight: 500;
}

.line2{
    width: 1px;
    height: 14px;
    align-items: center;
    -webkit-box-align: center;
    margin-top: -1px;
    margin-left: 10px;
    background-color: rgb(226, 226, 226);
}

.beautycurly{
    flex-shrink: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(95, 0, 128);
    cursor: pointer;
    position: relative;
    margin-left: 10px;
}

.beautycurly .afterN{
    content: "";
    position: absolute;
    display: block;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgNyA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTUuMTA4IDd2LS4wMDdMMS45MTEgMi41NzdWN0guMDQ2VjBoMS44NjdsMy4xOTYgNC40MTlWMGgxLjg2N3Y3SDUuMTA4eiIgZmlsbD0iI0ZBNjIyRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=) 0px 0px no-repeat;
    width: 8px;
    height: 8px;
    top: 3px;
    right: -5px;
}

.beautycurly span:hover{
    color: rgb(95, 0, 128);
}

.inputcontent{
    -webkit-box-align: center;
    align-items: center;
    justify-self: space-between;
    margin-left: -85px;
    top: -55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
    font-size: 16px;
    letter-spacing: -0.33px;
}

.submit img{
    width: 30px;
    height: 30px;
    margin-left: -60px;
    bottom: -1px;
    position : relative;
    cursor: pointer;
}

.img1{
    width: 36px;
    height: 36px;
    margin-right: 20px;
    margin-left: 1px;
    cursor: pointer;
}

.img2{
    width: 36px;
    height: 36px;
    margin-right: 20px;
    cursor: pointer;
}

.img3{
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
}


.nav-container{
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
    list-style-type: none;
}

.nav-item{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 150px;
    height: 55px;
    padding-top: 18px;
    line-height: 20px;
    text-align: center;
}

.nav-item1{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    margin-left: -35px;
}

.nav-item1 img{
    width: 16px;
    height: 14px;
    margin-right: 14px;
}

.nav-item1 a:hover{
    color:rgb(95, 0, 128);
}

.nav-item a{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    list-style: none;
}

.nav-item a:hover{
    color:rgb(95, 0, 128);
    text-decoration: underline; color:rgb(95, 0, 128);
}

.nav-item1 a{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    list-style: none;
}

.nav-item span{
    color:rgb(95, 0, 128);
}

.mainNav{
    display: flex;
    margin-left: 30px;
}

a{
    text-decoration-line: none;
    color: rgb(51, 51, 51);
}

.nav-item .deliver{
    height: 32px;
    padding: 6px 16px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 18px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    text-align: center;
    -webkit-box-align: center;
}

.nav-item .deliver .grey{
    color: rgb(102, 102, 102);
}

nav{
    border-bottom: 1px grey rgb(51, 51, 51);
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px
}

.advertise{
    width: 100%;
    min-width: 1050px;
    height: 370px;
    object-fit: cover;
}

.list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 267px;
    margin-top: 80px;
}

.list-wrapper a{
    color: rgb(51, 51, 51);
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}

.list-wrapper a img{
    vertical-align: top;
    border: 0;
}

.list-wrapper p{
    color: rgb(153, 153, 153);
    font-size: 14.9px;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: -0.2px;
    margin-left: 22px;
    margin-top: 6px;
}

.list-content{
    margin-right: 20px;
    width: 1050px;
}

.list-content img{
    height: 290px;
    width: 235px;
    justify-content: space-between;
    position: relative;
}

.list-content .cart{
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 237px;
    margin-left: -55px;
    cursor: pointer;
}

.list-sub{
    display: flex;
    width: 1050px;
    margin-top: 24px;
    justify-content: space-between;
}

.brand-sub{
    display: flex;
    width: 960px;
    margin-top: 24px;
    justify-content: space-between;
}

.list-content h3{
    font-size: 15px;
    line-height: 1.45;
    font-weight: 400;
    margin-top: 9px;
    margin-bottom: 8px;
}

.list-content .percent{
    color: rgb(250, 98, 47);
    font-size: 15px;
    font-weight: 800;
    line-height: 1.5;
    margin-right: 6px;
} 

.list-content .won{
    font-size: 15px;
    color: rgb(51, 51, 51);
    font-weight: 800;
    line-height: 1.5;
}

.xprice{
    font-size: 13px;
    text-decoration: line-through;
    color: rgb(181, 181, 181);
    font-weight: 400;
    line-height: 18px;
}

.review-btn{
    display: flex;
    padding-top: 6.5px;
}

.review-btn span{
    font-size: 10px;
    font-weight: 500;
    color: rgb(153, 153, 153);
    margin-left: -211px;
}

.next-btn{
    z-index: 100;
    border: 0px;
    width: 60px;
    height: 60px;
    top: calc(50% - 50px);
    right: 0px;
    transform: translate(50%, -50%) rotate(180deg);
    margin-left: 938px;
    margin-top: -390px;
    cursor: pointer;
}

.brand-container{
    height: 350px;
    background-color: rgb(244, 244, 244);
}

.brand-wrapper{
    margin: 0px auto;
    padding: 40px 0px;
}


.brand-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 267px;
    margin-top: 150px;
}

.brand-wrapper a{
    color: rgb(51, 51, 51);
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}

.brand-wrapper a img{
    vertical-align: top;
    border: 0;
}

.brand-wrapper .list-content{
    margin-right: 34px;
    cursor: pointer;
}

.brand-wrapper .list-content h3{
    text-align: center;
}

.brand-wrapper .list-sub{
    margin-top: 40px;
}

.btn{
    z-index: 100;
    width: 60px;
    height: 60px;
    top: calc(50% - 50px);

    transform: translate(50%, -50%) rotate(180deg);
    cursor: pointer;
    margin-left: 925px;
    margin-top: -107px;
}


.list-title ul{
    display: flex;
    list-style-type: none;
    margin-top: 37px;
    margin-left: -30px;
}

.list-title button{
    display: block;
    background-color: rgb(247, 247, 247);
    color: rgb(51, 51, 51);
    padding: 10px 20px;
    border-radius: 22px;
    font-size: 13px;
    height: 35px;
    line-height: 16px;
    margin: 0px 5px 7px;
    cursor: pointer;
}

.box{
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 516px;
    height: 56px;
    border-radius: 3px;
    border: 1px solid rgb(227, 227, 227);
    cursor: pointer;
}

.banner{
    margin: 0px auto;
    width: 970px;
}

.banner-wrapper img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}


.white{
    position: absolute;
    padding: 0px 20px;
    margin-top: -90px;
    color: rgb(255, 255, 255);
}

.white h3{
    font-size: 16.5px;
    line-height: 23px;
    font-weight: 500;
    white-space: normal;
}

.white span{
    font-size: 13px;
}

.md{
    display: flex;
    flex-wrap: wrap;
    place-content: center; 
    width: 990px;
    margin-top: 6px;
    margin-left: -30px;
}

.footer{
    padding-top: 30px;
    border-top: 1px solid rgb(247, 247, 247);
}

.footer-container{
    width: 990px;
    margin: 0px auto;
}

.footer-top{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;
}

.left h2{
    font-weight: 500;
    font-size: 19px;
    line-height: 29px;
}

.phoneandtime{
    display: block;
    padding-bottom: 18px;
    padding-top: 8px;
    font-size: 25px;
    line-height: 40px;
}

.phoneandtime span{
    font-weight: normal;
    font-size: 14px;
}

.qa{
    display: flex;
    flex-direction: row;
}

.qa button{
    border: 1px solid rgb(226, 226, 226);
    border-radius: 3px;
    width: 133px;
    height: 38px;
    line-height: 35px;
    margin-bottom: 12px;
    margin-right: 12px;
    
}

.qa{
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
    font-size: 13px;
}

.email{
    margin-top: 2px;
    color: rgb(153, 153, 153);
    letter-spacing: -0.5px;
    line-height: 16.8px;
    font-size: 11px;
}

.right{
    display: flex;
    flex-direction: column;
}

.right .ul-list{
    display: flex;
    list-style-type: none;
}

.ul-list{
    padding-bottom: 25px;
    
}

.ul-list li{
    font-size: 12.5px;
    padding-right: 16px;
    cursor: pointer;
}

.location{
    font-size: 9.4px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    font-weight: 400;
    margin-bottom: 30px;
}

.sns{
    display: flex;
}

.sns img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.footer-middle{
    border-top: 1px solid rgb(238, 238, 238);
    padding: 26px 0px 33px;
    display: flex;
    justify-content: space-between;
}

.footer-middle button{
    display: flex;
    text-align: left;
}

.footer-middle button img{
    width: 30px;
    margin-right: 8px;
}

.footer-middle button p{
    color: rgb(153, 153, 153);
    font-size: 0.3px;
}

.footer-bottom{
    padding: 20px 0px 30px;
    font-size: 3px;
    line-height: 15px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    color: rgb(153, 153, 153);
}